<table>
  <tr>
    <th>Total Miles</th>
    <th>Total Time (hour:min)</th>
    <th>Average Pace (min:sec)</th>
  </tr>
  <tr>
    <td>1020</td>
    <td>153:00</td>
    <td>9:00</td>
  </tr>
  <tr><td><br></td></tr>
  <tr>
    <th>Average Miles/Run</th>
    <th>Average Time/Run (min:sec)</th>
  </tr>
  <tr>
    <td>4.3</td>
    <td>37:0</td>
  </tr>
</table>

<% content_for :header_links do %>
  <a href="/runs">View Runs</a>
  <a href="/new">Add Run</a>
<% end %>
