/*
#227722
#195959
#952A2A
#955B2A
*/

body {
  font-family: 'Raleway', sans-serif;
  max-width: 1000px;

  padding: 0 10px 40px 10px;
  margin: 0 auto;

  color: #3f3f3f;
}

a {
  color: #3f3f3f;
  text-decoration: none;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
}

a:hover {
  color: #227722;
}

header {
  max-width: 800px;
  padding: 40px 0 20px 0;
  margin: 0 auto;
}

header > h1 > a {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #227722;
}

.actions > * {
  display: inline-block;
  padding: 5px 20px 5px 5px;
  margin-bottom: 5px;
  font-size: 16px;
  -webkit-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
  -moz-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
  -o-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
}

.actions a:hover,
.actions button:hover {
  border-bottom: 5px solid #3f3f3f;
  margin-bottom: 0;
}

.actions input[type="file"] + .upload_help {
  position: absolute;
  padding: 0.5em;
  color: transparent;
  background-color: transparent;
  white-space: pre;
  -webkit-transition: color 200ms ease,
                      background-color 200ms ease;
  -moz-transition:    color 200ms ease,
                      background-color 200ms ease;
  -o-transition:      color 200ms ease,
                      background-color 200ms ease;
}

.actions input[type="file"]:hover + .upload_help {
  color: #ffffff;
  background-color: #3f3f3f;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

main > form input {
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0 15px 0;
  font: normal 18px 'Raleway', sans-serif;
}

main > form input[type="submit"] {
  width: initial;
  height: 50px;
  padding: 10px 20px;
  margin: 0 40px 0 0;
  font: normal 20px 'Raleway', sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background: #227722;
  cursor: pointer;
  -webkit-transition: color 200ms ease, background 200ms ease;
  -moz-transition: color 200ms ease, background 200ms ease;;
  -o-transition: color 200ms ease, background 200ms ease;;
}

main > form input[type="submit"]:hover {
  background: #3E933E;
  color: #3f3f3f;
}

main > form fieldset {
  display: block;
  width: 30%;
  border: 2px groove;
  border-radius: 5px;
  padding: .55em .75em .625em .75em;
}

main > form .actions {
  width: initial;
  border: none;
}

.run {
  margin-bottom: 20px;
}

.run.heading {
  margin: 0;
  font-weight: bold;
}

.run > li {
  display: inline-block;
  text-align: center;
  font-size: 18px;
}

/*.run > .name {
  width: 20%;
}

.run > .distance {
  width: 15%;
}

.run > .duration {
  width: 15%;
}

.run > .date {
  width: 15%;
}

.run > .time {
  width: 15%;
}

.run > .count {
  width: 15%;
}*/

.col-12-1 {
  width: 8.3%;
}

.col-12-2 {
  width: 16.6%;
}

.col-12-3 {
  width: 24.9%;
}

.col-12-4 {
  width: 33.2%;
}

.run > form {
  /*position: relative;*/
  display: inline-block;
  font: normal 18px 'Raleway', sans-serif;
}

.run > button {
  color: #3f3f3f;
}

.run .action {
  /*display: inline-block;*/
  background: #ffffff;
  margin-bottom: 5px;
  font: normal 18px 'Raleway', sans-serif;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: border-bottom 200ms ease,
                      margin-bottom 200ms ease,
                      color 200ms ease;
  -moz-transition:    border-bottom 200ms ease,
                      margin-bottom 200ms ease,
                      color 200ms ease;
  -o-transition:      border-bottom 200ms ease,
                      margin-bottom 200ms ease,
                      color 200ms ease;
}

.run .delete:hover {
  color: #952a2a;
  border-bottom: 5px solid #952a2a;
  margin-bottom: 0;
}

.run .edit:hover {
  color: #195959;
  border-bottom: 5px solid #195959;
  margin-bottom: 0;
}

.actions form {
  /*display: inline-block;*/
}

.actions form button {
  /*font: normal 20px 'Raleway', san-serif;*/
  border: none;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
  -moz-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
  -o-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
}

.actions form input[type="file"] {
  cursor: pointer;
}

/*#upload input[type="file"]:hover + label {
  color: #227722;
  border-bottom: 5px solid #3f3f3f;
  margin-bottom: 0;
  cursor: pointer;
}*/

.actions form button {
  display: inline-block;
  color: #3f3f3f;
  background: #ffffff;
  /*margin-bottom: 5px;*/
  font: normal 16px 'Raleway', sans-serif;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: border-bottom 200ms ease,
                      margin-bottom 200ms ease,
                      color 200ms ease;
  -moz-transition:    border-bottom 200ms ease,
                      margin-bottom 200ms ease,
                      color 200ms ease;
  -o-transition:      border-bottom 200ms ease,
                      margin-bottom 200ms ease,
                      color 200ms ease;
}

.actions > form button:hover {
  color: #227722;
  border-bottom: 5px solid #3f3f3f;
  margin-bottom: 0;
}

.flash {
  padding: 30px 20px;
  margin: 10px 0;
  font: normal 18px 'Raleway', sans-serif;
}

.flash.error {
  color: #ffffff;
  background: #952A2A;
}

.flash.success {
  color: #ffffff;
  background: #195959;
}

.user-status {
  font-style: italic;
  font-size: .9em;
  display: inline-block;
  padding: 5px 20px 5px 5px;
  margin-bottom: 5px;
  font-size: 16px;
  -webkit-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
  -moz-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
  -o-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
}

.user-status > a {
  font-style: initial;
}
