/*
#227722
#195959
#952A2A
#955B2A
*/

body {
  font-family: 'Raleway', sans-serif;
  max-width: 1000px;

  padding: 0 10px 40px 10px;
  margin: 0 auto;

  color: #3f3f3f;
}

a {
  color: #3f3f3f;
  text-decoration: none;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
}

a:hover {
  color: #227722;
}

header {
  max-width: 800px;
  padding: 40px 0 20px 0;
  margin: 0 auto;
}

header > h1 > a {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #227722;
}

body header .actions {
  display: inline-block;
  width: 50%;
  padding: 20px 0 0 0;
  font-size: normal 20px 'Raleway';
}

body header .actions a {
  padding: 5px 20px;
  cursor: pointer;
  -webkit-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
  -moz-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
  -o-transition: border-bottom 200ms ease, margin-bottom 200ms ease;
}

body header .actions a:hover {
  border-bottom: 5px solid #3f3f3f;
  margin-bottom: 35px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

table {
  max-width: 1000px;
  padding-bottom: 30px;
}

form input {
  width: 100%;
  padding: 10px 30px;
  margin: 5px 0 15px 0;
  font: normal 28px 'Raleway', sans-serif;
}

form input[type="submit"] {
  width: initial;
  height: 50px;
  padding: 10px 20px;
  margin: 0 40px 0 0;
  font: normal 20px 'Raleway', sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background: #227722;
  cursor: pointer;
  -webkit-transition: color 200ms ease, background 200ms ease;
  -moz-transition: color 200ms ease, background 200ms ease;;
  -o-transition: color 200ms ease, background 200ms ease;;
}

form input[type="submit"]:hover {
  background: #3E933E;
  color: #3f3f3f;
}

form fieldset {
  display: block;
  width: 50%;
  border: 2px groove;
  border-radius: 5px;
  padding: .55em .75em .625em .75em;
}

form .actions {
  width: initial;
  border: none;
}

.run {
  margin-bottom: 20px;
}

.run.heading {
  margin: 0;
  font-weight: bold;
}

.run > li {
  display: inline-block;
  font-size: 18px;
}

.run > .name {
  width: 20%;
}

.run > .distance {
  width: 15%;
  text-align: right;
}

.run > .duration {
  width: 15%;
  text-align: right;
}

.run > .date {
  width: 15%;
  text-align: center;
}

.run > .time {
  width: 15%;
  text-align: center;
}

.run > form {
  position: relative;
  display: inline-block;
}

.run > form > button {
  color: #3f3f3f;
}

.run > form {
  font: normal 18px 'Raleway', sans-serif;
}

.run > form > .action {
  display: inline-block;
  background: #ffffff;
  margin-bottom: 5px;
  font: normal 18px 'Raleway', sans-serif;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: border-bottom 200ms ease,
                      margin-bottom 200ms ease,
                      color 200ms ease;
  -moz-transition:    border-bottom 200ms ease,
                      margin-bottom 200ms ease,
                      color 200ms ease;
  -o-transition:      border-bottom 200ms ease,
                      margin-bottom 200ms ease,
                      color 200ms ease;
}

.run > form > .delete:hover {
  color: #952a2a;
  border-bottom: 5px solid #952a2a;
  margin-bottom: 0;
}

.run > form > .edit:hover {
  color: #195959;
  border-bottom: 5px solid #195959;
  margin-bottom: 0;
}

.flash {
  padding: 30px 20px;
  margin: 10px 0;
  font: normal 18px 'Raleway', sans-serif;
}

.flash.error {
  color: #ffffff;
  background: #952A2A;
}

.flash.success {
  color: #ffffff;
  background: #195959;
}
